[user]
    name = Alex Wood
    email = awood@redhat.com

[core]
    pager = cat
    excludesfile = /home/awood/.gitignore

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short

[sendemail]
    smtpserver = smtp.corp.redhat.com
    from = awood@redhat.com

[merge]
    tool = diffuse
[gui]
    fontdiff = -family courier -size 10 -weight normal -slant roman -underline 0 -overstrike 0
    recentrepo = /home/awood/legacy-cron
[giggle]
    compact-mode = false
    main-window-maximized = false
    main-window-geometry = 1272x876+0+56
