[submodule ".vim/pack/colors/start/vim-colors-solarized"]
	path = .vim/pack/colors/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/plugins/start/vim-unimpaired"]
	path = .vim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/plugins/start/minibufexpl.vim"]
	path = .vim/pack/plugins/start/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/pack/plugins/start/spec.vim"]
	path = .vim/pack/plugins/start/spec.vim
	url = https://github.com/vim-scripts/spec.vim.git
[submodule ".vim/pack/syntax/start/tmux.vim"]
	path = .vim/pack/syntax/start/tmux.vim
	url = https://github.com/zaiste/tmux.vim.git
[submodule ".vim/pack/plugins/start/ShowTrailingWhitespace"]
	path = .vim/pack/plugins/start/ShowTrailingWhitespace
	url = https://github.com/vim-scripts/ShowTrailingWhitespace.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/YouCompleteMe"]
	path = .vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/pack/plugins/start/unite.vim"]
	path = .vim/pack/plugins/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/pack/plugins/start/vimproc"]
	path = .vim/pack/plugins/start/vimproc
	url = https://github.com/Shougo/vimproc.git
