.project
.settings
.pydevproject
.classpath
.*.swp
*.pyc
*.pyo
*.spl
.netrwhist
.noseids
doc/tags
.zanata-cache
.vim/eclim
.vim/plugin/eclim.vim
.vim/vimspell.*
dev_scratch
.gradle
buildSrc
.gradletasknamecache
