[user]
    name = Alex Wood
    email = awood@redhat.com

[core]
    pager = cat
    excludesfile = ~/.gitignore

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    ctags = !.git/hooks/ctags
    oldest-ancestor = !bash -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
    branchdiff = "!f() { head=${1:-HEAD} ; ancestor=`git oldest-ancestor master $head` ; git diff $ancestor..$head ; }; f"
    visual-branchdiff = "!f() { head=${1:-HEAD} ; ancestor=`git oldest-ancestor master $head` ; git diff --name-only $ancestor..$head | xargs diffuse -s -r $ancestor ; }; f &"
    edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; $EDITOR `f`"
    add-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; git add `f`"
    # Git prefixes your current branch with an asterisk so we don't want to delete that one
    cleanup = "!git branch --merged master | grep -E -v '(^\\*|master)' | xargs -r -n 1 --verbose git branch -d"

[sendemail]
    smtpserver = smtp.corp.redhat.com
    from = awood@redhat.com

[merge]
    tool = diffuse

[init]
    templatedir = ~/.git_template

[push]
    default = tracking

[branch]
    autosetuprebase = always
[http]
	sslVerify = true
