.project
.settings
.pydevproject
.classpath
.*.swp
*.pyc
*.pyo
*.spl
.netrwhist
.noseids
doc/tags
.zanata-cache
.idea/
*.iml
.vim/plugged
.vim/vimspell.*
.vim/view
dev_scratch
.gradle
buildSrc
.gradletasknamecache
