[user]
    name = Alex Wood
    email = awood@redhat.com

[core]
    pager = cat
    excludesfile = ~/.gitignore

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    ctags = !.git/hooks/ctags

[sendemail]
    smtpserver = smtp.corp.redhat.com
    from = awood@redhat.com

[merge]
    tool = diffuse

[init]
    templatedir = ~/.git_template

[push]
    default = tracking
