let mapleader = "\"

" Emulated Plugins
set surround

" Ignore case in searching unless the search pattern contains upper case
set ignorecase
set smartcase

" Use Idea to join lines intelligently
set ideajoin
" Set Idea bookmarks when marking
set ideamarks

" 3 lines above/below cursor when scrolling
set scrolloff=3

set hls
set smartcase

map Q gq

" Mappings like Vim Unimpaired
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

" Tabs
nnoremap [b :action PreviousTab<cr>
nnoremap ]b :action NextTab<cr>

" Closing tabs
nmap <leader>q :action CloseContent<cr>
nmap <leader>Q :action ReopenClosedTab<cr>

" Other useful mappings
nmap <leader>u :action FindUsages<cr>
nmap <leader>T :action ActivateTerminalToolWindow<cr>
nmap <leader>d :action ShowErrorDescription<cr>
nmap <leader>i :action GotoImplementation<cr>
nmap <leader>h :action CallHierarchy<cr>
nmap <leader>f :action Refactorings.QuickListPopupAction<cr>
nmap <leader>d :action Debug<cr>
nmap <leader>cd :action ChooseDebugConfiguration<cr>
nmap <leader>r :action Run<cr>
nmap <leader>cr :action ChooseRunConfiguration<cr>
