{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
# https://github.com/olivergondza/bash-strict-mode
set -eEuo pipefail
trap 's=$?; echo >&2 "$0: Error on line "$LINENO": $BASH_COMMAND"; exit $s' ERR

# Fedora
{{ if eq .chezmoi.osRelease.id "fedora" -}}
{{ range .packages.fedora.dnf -}}
if rpm -q {{ . | quote }} > /dev/null; then
    echo "Found {{ . }}"
else
    sudo dnf install -y {{ . | quote }}
fi
{{ end -}}

{{ range .packages.fedora.cargo -}}
cargo install --locked {{ . | quote }}
{{ end -}}

{{ range .packages.fedora.pipx -}}
pipx install {{ . | quote }}
{{ end -}}

{{ range .packages.fedora.pipx_include -}}
pipx install {{ . | quote }} --include-deps
{{ end -}}

{{ range .packages.fedora.httpie -}}
httpie cli plugins install {{ . | quote }}
{{ end -}}
{{ end -}}

# Ubuntu
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
{{ range .packages.ubuntu.apt -}}
sudo apt-get install -y {{ . | quote }}
{{ end -}}

{{ range .packages.ubuntu.cargo -}}
cargo install --locked {{ . | quote }}
{{ end -}}

{{ range .packages.ubuntu.pipx -}}
pipx install {{ . | quote }}
{{ end -}}
{{ end -}}

{{ end -}}
